
// Stuff
$universal_padding: 20px;

//Text
$defaultText: #444;

$header_height: 80px;
$universal_padding: 20px;
$max-bp: 1240px;
$tablet-lrg-bp: 1024px;
$tablet-sml-bp: 768px;
$mobile-bp: 400px;

// Colors
$blue_light: #304D8A;
$blue_dark: #253457;
$red: #990000;
