@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/bulma/bulma.sass';
@import '../../node_modules/bourbon/app/assets/stylesheets/bourbon';
@import '../../node_modules/breakpoint-sass/stylesheets/breakpoint';

@import "partials/vars";

.kill--list {
  @include clearfix;
  margin: 0;
  padding: 0;
  list-style: none;
  &.float--list {
    li {
      float: left;
    }
  }
}

body {
  margin: 0;
  padding: 0;
}

.app {
  max-width: 1224px;
}

header {
  padding: 2rem 0;
}

.stories__container {

}

.sidebar__container {
  display: none;
  min-width: 320px;
  @include breakpoint($tablet-lrg-bp) {
    display: block;
  }
}

.stories__container__section_nav {
  li {
    margin-right: $universal_padding;
  }
}

@import "partials/feed";
